<ul>
  
  <li><%= @comm.user ? @comm.user.name : "anonymous"  %></li>
  <li><%= link_to(@comm.created_at.strftime("%b %-d, %Y %H:%M:%S"), "/posts/" + @comm.to_post.to_s + "#comm-" + @comm.id.to_s) %></li>
  <li><%= @comm.content %></li>

</ul>
