
<div class="large-12 columns panel-post">

  <div class="row">
    <h3 class="post-title-link"><%= link_to @post.title, @post %></h3>
  </div>

  <div class="row">
    <p>Posted on: <%= @post.posted.strftime("%m/%d/%Y") %>

  <% user = current_user %>
  <% if user && (user.status_admin || user.status_writer) %> 
   <br><%= link_to "Edit post", edit_url + "/" + @post.id.to_s %>

  <% end %>

  </div>

  <div class="row">
    <%=raw process_post(@post.content_final) %>
  </div>
  <div class="row">
  </div>
</div>
