<div class="row small-11 large-12 panel-center">

<% @page_posts.compact.each do |post| %>
  <% @post =  post %>
  <%= render 'posts/post' %>
  <div class="panel-post">
  <%= link_to "Comments:" +  Comment.where(to_post: post.id).count.to_s, post_path(@post, anchor: "comments")  %> 
  </div>
<% end %>

</div>



<div class="row small-11 large-12 panel">
  <div class="small-6 columns">
    <% if @prev_page %>
      <%= link_to "Previous page", controller: "posts", action: "page", id: params[:id].to_i - 1  %>  
    <% end %>
  </div>

  <div class="small-5 columns" align="right">
    <% if @next_page %>
      <%= link_to "Next page", controller: "posts", action: "page", id: params[:id].to_i + 1 %>
    <% end %>
  </div>
</div>
