@import "foundation";

.backdrop {
  background: #661515;
  background: linear-gradient(#661515, #7E1515, #661515);
}

.panel-post {
  @extend .panel;
  background-color: white-smoke;
  color: #000000;
}

.panel-comment {
  @extend .panel;

    .show-comment {
      color: #000000        //Reply link
  } 
 
  ul {
    list-style-type:none;

    li:first-of-type {      //Username
      font-size: 1.2em;
      font-weight: bold;

    }

    li:nth-of-type(2) {     //Date+link
      a {
        color: #888888;
        font-size: 0.8em; 
      }
    }

    li:nth-of-type(3) {     //Text
      font-family: Serif;
    }
  }
}

.panel-center {
  @extend .panel;
  background-color: #BBBBBB;
}

.ui-resizable-s {
  background-color: #777777;
}

.post-title-link {
  a {
    color: black;
  }
}

.caption {
  text-align: center;
  font-style: italic;
}



