@import "foundation";

.backdrop {
  background: #661515;
  background: linear-gradient(#661515, #7E1515, #661515);
}

.panel-post {
  @extend .panel;
  background-color: white-smoke;
  color: #000000;
}

.panel-comment {
  @extend .panel;

    .show-comment {         //Reply link
      color: #000000;
  } 
 
  ul {                      //Comment proper
    list-style-type:none;

    li:first-of-type {      //Username
      font-size: 1.2em;
      font-weight: bold;
      color: #555;
      a       { color:black; } 
      a:hover { color: #34d; }
    }

    li:nth-of-type(2) {     //Date+link
      a {
        color: #888;
        font-size: 0.8em; 
      }
      a:hover { 
        color: #999;
      }
    }

    li:nth-of-type(3) {     //Text
      font-family: Serif;
    }

    li:nth-of-type(4) {    //Signature
      p { font-size: 0.8em; }
    }
  }
}

.panel-center {
  @extend .panel;
  background-color: #BBBBBB;
}

.ui-resizable-s {
  background-color: #777777;
}

.post-title-link {
  a {
    color: black;
  }
}

.caption {
  text-align: center;
  font-style: italic;
}



