@import "foundation";

.backdrop {
  background: #661515;
  background: linear-gradient(#661515, #7E1515, #661514);
}

.panel-post {
  @extend .panel;
  background-color: white-smoke;
  color: #000000;
  padding-left: 5px;
  padding-right: 10px;
}

.panel-comment {
  @extend .panel;
  background-color: #FFF9FC;
    .show-comment {         //Reply+edit+delete links
      font-size: 8pt;
      color: #666;
  } 
 
  ul {                      //Comment proper
    list-style-type:none;

    li:first-of-type {      //Username
      font-size: 1.2em;
      font-weight: bold;
      //color: #555;
      a       { color:black; } 
      a:hover { color: #34d; }
    }

    li:nth-of-type(2) {     //Date+link
      a {
        color: #888;
        font-size: 0.8em; 
      }
      a:hover { 
        color: #999;
      }
    }

    li:nth-of-type(3) {     //Text
      font-family: Serif;
    }

    li:nth-of-type(4) {    //Signature
      p { font-size: 0.8em; }
    }
  }
}

.panel-center {
  @extend .panel;
  background-color: #BBBBBB;
}

.ui-resizable-s {
  background-color: #777777;
}

.post-title-link {
  a {
    color: black;
  }
}

.caption {
  text-align: center;
  font-style: italic;
}

.email-popup {
  font-size: 0.75em;
  vertical-align: middle;
  background-color: #FFF9FC;
  border-style: outset;
  display: none;
  position: absolute;
  left: 25%; 
  padding: 5px;
}

